src/*.exe
src/greencoin
src/greencoind
src/test_greencoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.greencoin

# Compilation and Qt preprocessor part
*.qm

greencoin-qt
Greencoin-Qt.app

# Unit-tests

greencoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build


